.userRow {
  display: flex;
  align-items: center;
  padding: 5px;
  background: #b0b0b0;
  margin: 5px;
  &:hover {
    background: #c7c7c7;
  }
}

.userRowImage {
  max-width: 50px;
  max-height: 50px;
}

.userInfo {
  display: inline-block;
}

.PositiveRating, .NegativeRating {
  padding-left: 5px;
}

.PositiveRating {
  color: green;
  &:before {
    content: '+';
  }
}
.NegativeRating {
  color: red;
}